.git
.venv
venv
__pycache__
*.pyc
artifacts
model
models
datasets/raw
datasets/processed
datasets/parallel
datasets/mt
datasets/gold
notebooks
*.tar.gz
*.safetensors
wandb
.pytest_cache
.ruff_cache
DOCS/*.pdf
